<div class="page-width video-testimonials text-center">
<h2 class="h1">Video <span class="primary-light">Testimonials</h2>
  <div class="video-link" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/sqj4AdJ2osw">
    <img alt="Tarra Lost 30 kg eating Cookies!" src="{{'tarra_main-youtube.jpg' | file_img_url: '700x'}}">
  </div>
  <div class="grid grid--2-col grid--4-col-tablet grid--6-col-desktop video-image-thumb">
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/mhyPTHclo5M">
      <img src="{{'diet_tamara.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/HEqthN_C37U">
      <img src="{{'jessika_power.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/UjtHIPuHRe4">
      <img src="{{'tony_talotta.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/xnp1MKXUUcE">
      <img src="{{'carolines.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/0CIdwVACWBA">
      <img src="{{'diet_kristie.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/NoikZKDwqXI">
      <img src="{{'rita_agoulia.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/8LZ610k2aXU">
      <img src="{{'tara_sloboduik.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/LWC6zALXoFg">
      <img src="{{'cookiediet-review-vid.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/8ykt8wvwlsQ">
      <img src="{{'diet_video.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/tFnkKPpH02Y">
      <img src="{{'robbyn_ted.jpg' | file_img_url: '250x'}}">
    </div>
    <div class="video-link grid__item" data-toggle="modal" data-target="#videoPopup" embedLink="https://www.youtube.com/embed/kX6Wu9bFLtw">
      <img src="{{'lisa_testimon.jpg' | file_img_url: '250x'}}">
    </div>
  </div>

</div>