<div id="weight-loss-page">
  <div class="bg" style="background-image: url({{ 'Wooden-back-img.jpg' | file_img_url: '1000x' }}); position: relative">
    <div class="page-width">
      <div class="grid grid--2-col flex--center">
        <div class="grid__item section-custom">
          <p>Created by renowned physician, author, and weight-loss expert Dr. Sanford Siegal,<span class="primary-light"> Dr. Siegal’s COOKIE DIET </span>is a proven, three-step plan that has helped more than a half million people lose weight since 1975. It’s a safe, fast, and affordable approach to <span class="primary-light">weight loss and weight maintenance </span>that hundreds of doctors throughout North America have used to help their patients lose weight. The cookies are all-natural, Kosher, and vegetarian, and people find them very tasty.</p>
          <p>Dr. Siegal’s time-tested concept is simple: Stick to a diet of 1,000 to 1,200 calories a day, of which about 500 come from Dr. Siegal’s COOKIE DIET hunger-controlling snacks and 500 to 700 from a generous meal. On 1,000 to 1,200 calories, everyone loses weight. There are no failures at that caloric level.</p>
        </div>
        <img id="dr-sanford-image" class="col-xs-12" src="{{ 'dr-sanford-siegal-1.png' | file_img_url: '500x' }}" alt="Dr Sanford Siegal Cookie Diet"/>
      </div>
    </div>
  </div>

  <div class="flex--center section-custom text-center color-accent-1 isolate gradient text-center-mob" id="step-by-step">
    <div class="page-width">
      <div class="grid grid--2-col flex--center">
        <div class="grid__item">
          <img class="pull-right" src="{{ 'step-by-step-weight-loss.png' | file_img_url: '250x' }}" alt="Step by Step Weight Loss Plan"/>
        </div>
        <div class="grid__item">
          <h2 class="h1" class="white h1">Step-by-step weight loss guide</h2>
          <a class="button button--primary" href="{{ 'Dr_Siegals_Cookie_Diet_Quick_Guide_AUS-Copy.pdf' | file_url }}" target="_blank">Download Now</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="lightgrey-bg bg flex--center" style="background-image: url({{ 'your_goal.jpg' | file_img_url: '1100x' }})">
    <div class="page-width">
      <div class="section-custom text-center-mob grid grid--2-col">
        <div class="grid__item">
          <div class="weight-loss-numbered-step">
            <span class="icon-padding">1</span>
            <div>
              <h2 class="h1">Set Your Goal</h2>
              <p>Consult your physician before starting this or any diet. Your doctor may have reasons why you shouldn’t begin a diet. Once you begin your diet, check in with your doctor as often as he recommends because people who diet under a doctor’s supervision have greater success.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-width">
    <div class="section-custom text-center-mob grid grid--2-col flex--center">
      <div class="grid__item">
        <img src="{{ 'choose-your-plan.png' | file_img_url: 'x400' }}"/>
      </div>
      <div class="grid__item">
        <div class="weight-loss-numbered-step">
          <span class="icon-padding">2</span>
          <div>
            <h2 class="h1">Choose your plan</h2>
            <p>If you are looking to lose weight, most people lose about 5-7 kgs a month on this diet, so plan how many months you would like to buy, if you or looking to have these as snacks, 1 month variety pack will be a great option,<br>*results very between individuals.</p>
            <a class="button button--primary" target="_blank" href="/collections/all">View All Plans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg lightgrey-bg" style="background-image: url({{ 'Wooden-back-img.jpg' | file_img_url: '600x' }})">
    <div class="page-width">
      <div class="section-custom text-center-mob">
        <div class="weight-loss-numbered-step">
          <span class="icon-padding">3</span>
          <div>
            <h2 class="h1">Lose Weight</h2>
            <p>Dr. Siegal’s Cookie Plan is based on most people who have a typical workday schedule. It assumes that you wake up at around 7am, work from 9pm to 5pm or so, have dinner around 8pm, and go to bed around 11pm. It also assumes that you will have your one “real” meal in the evening (but you can adjust the time to suit your lifestyle). Under this plan, you never go more than two hours without eating in order to reduce the opportunity for serious hunger to develop.</p>
          </div>
        </div>
        <p class="text-center"><b><br>It will look a little something like this</b><br></p>
        <img class="hidden-xs img-responsive center-block" style="width: 100%" src="{{ 'lose_wight_tl.svg' | file_url }}"/>
        <img class="visible-xs center-block" id="timeline-mobile" src="{{ 'lose_wight_tlv.svg' | file_url }}"/>
        <p class="text-center" id="timeline-facts"><strong><br>Total daily calories:</strong> <span class="primary-light">1,000 to 1,200</span><br>
        <strong>Time between snacks:</strong> <span class="primary-light">2 hours (do not exceed or shorten)</span><br>
        <strong>Target weight loss*:</strong> <span class="primary-light">5-8 kgs per month</span><br>
        <strong>Dinner Meal:</strong> <span class="primary-light">250g of lean meat / fish / lamb / chicken / pork plus salad or veggies</span><br>
        <small>* based on 1,000 to 1,200 daily calories. Individual results will vary based on age, weight, activity level, and other factors.</small></p>
      </div>
    </div>
  </div>
  <div class="bg lightgrey-bg flex--center" style="background-image: url({{ 'maintaining-your-weight-loss.jpg' | file_img_url: '1000x' }})">
    <div class="page-width">
      <div class="section-custom text-center-mob grid grid--2-col grid--reverse-desktop">
        <div class="grid__item">
          <div class="weight-loss-numbered-step">
            <span class="icon-padding">4</span>
            <div>
              <h2 class="h1">Maintaining Your Weight Loss</h2>
              <p>After you reach your goal weight, you move to the maintenance phase. Your body is now accustomed to eating small and frequent portions, had practice preparing healthy meals and added some light exercise into your routine. With this foundation, you are now prepared to scale that up slightly by preparing 3 healthy meals, and increase your exercise regiment.</p>
              <p>Keeping the cookies in your diet to eat between meals will help further control your hunger so you don’t overeat</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="visible-xs img-responsive center-block" src="{{ 'maintaining-your-weight-loss-mob.jpg' | file_img_url: '500x' }}"/>
</div>

<style>
  .icon-padding {
    padding: 5px 15px;
    background: #ff734c;
    font-size: 28px;
    line-height: 1.2;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
  
  .fixed-bg--content {
    width: 45%;
  }
  .weight-loss-numbered-step {
    align-items: baseline;
    display: flex;
  }
  @media only screen and (max-width: 749px) {
    .flex, .flex--center {
      flex-wrap: wrap;
    }
    #weight-loss-page .flex, #weight-loss-page .flex--center {
      justify-content: center;
    }
    .flex .grid__item, .flex--center .grid__item {
      width: 100%;
      max-width: 100%;
    }
    .fixed-bg:not(.bg-show-xs), .bg:not(.bg-show-xs) {
        background-image: none !important;
    }
    #timeline-mobile {
      padding-left: 50px;
      margin: auto;
      display: flex !important;
      text-align: center;
    }
    .weight-loss-numbered-step {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  @media only screen and (min-width: 750px) {
    #dr-sanford-image {
      position: absolute;
      z-index:1;
      right: 30px;
      bottom: 0;
      max-width: 50%;
      width: 520px;
      height: auto;
    }
    
    .fixed-bg, .bg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      min-height: 50vh;
      display: flex;
      align-items: center;
    }

  }
</style>